<div class="mt-4">
    <h1>
    Detalle
    </h1>
</div>
<div class="grid grid-cols-2 gap-4">
    <h2 class="col-span-2 text-3xl font-extrabold text-gray-900">{{ group?.name }}</h2>
    <h3 class="mt-2 text-xl text-gray-600" [innerHTML]="group?.description"></h3>
    <div *ngIf="group?.category" class="col-span-2">
        <app-gd-categoria (emmitMensaje)="presentarAlert()" [category]="group?.category"></app-gd-categoria>
    </div>
    <div class="mt-6">
        <img [src]="group?.imageUrl" alt="Imagen de la noticia" class="w-full h-64 object-cover">
    </div>
    <div class="mt-4">
        <p>Creado el: {{group?.setting?.creationDate | date:'dd/MM/yyyy HH:mm:ss'}}</p>
        <p>Actualizado el: {{group?.setting?.lastUpdateDate | date:'dd/MM/yyyy HH:mm:ss'}}</p>
    </div>
    <div class="mt-6 mb-4">
        <button (click)="regresar()" mat-raised-button color="primary">Regresar</button>
    </div>
</div>