<div>
  
    <h2 class="text-3xl font-extrabold text-gray-900">{{ group?.name }}</h2>
    <p class="mt-2 text-xl text-gray-600">{{ group?.slug }}</p>

    <div class="mt-6">
      <img [src]="group?.imageUrl" alt="Imagen de la noticia" class="w-full h-64 object-cover">
    </div>

    <div class="mt-6">
      <p class="text-gray-900">{{ group?.description }}</p>
    </div>

    <div class="mt-6">
      <button (click)="exitDialog( )" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Cerrar</button>
    </div>

</div>  